@import compass/css3

/* font courtesy of http://www.fontsquirrel.com/
@include font-face('CarbonTypeRegular', font-files('/fonts/CarbonType/carbontype-webfont.woff', woff, '/fonts/CarbonType/carbontype-webfont.ttf', truetype, '/fonts/CarbonType/carbontype-webfont.svg#webfontW94z9Ps3', svg), '/fonts/CarbonType/carbontype-webfont.eot')

@import compass/reset

@include global-reset
@include reset-html5

body
  @include transition(background-color 0.5s ease-in-out)
  background-color: #000000
  color: #EEEEEE
  font-family: CarbonTypeRegular, monospace
  margin: 0 auto

section,
footer
  text-align: center

#content
  margin-top: 1.25em
  margin-bottom: 2.75em
  #answer
    font-size: 10em
  #timer
    font-size: 5em

#timezone_picker
  bottom: 1em
  padding: 0.25em
  position: fixed
  width: 100%
  fieldset
    border-style: none
  legend
    display: block
    text-align: center
    width: 100%
  legend.handle
    cursor: pointer

#timezone_picker.inactive
  div
    display: none

#credits
  bottom: 0
  font-size: 0.75em
  padding: 0.25em
  position: fixed
  width: 100%
  a
    color: #FFFFFF
    display: inline-block
    border-bottom: 1px dotted #FFFFFF
    text-decoration: none
