@font-face
  font-family: "Abecedarian"
  src: url(/fonts/Abecedarian.ttf) format("truetype")

html
  background-color: #000000
  color: #ffffff

body
  font-family: "Abecedarian", "Purisa", "Umpush", "Granada", "Helvetica", "Arial", sans-serif
  margin: 0 auto

header,
section,
footer
  text-align: center
  margin-top: 1.25em
  width: 100%

#branding
  font-size: 3em
  font-weight: normal

#content
  #answer,
  #timer
    font-size: 5em
    font-weight: bold

#credits
  position: fixed
  font-size: 0.75em
  bottom: 0
  width: 100%
