@font-face {
	font-family: "Abecedarian";
	src: url(/fonts/Abecedarian.ttf) format("truetype");
}

body {
	font-family: "Abecedarian", "Purisa", "Umpush", "Granada", "Helvetica", "Arial", sans-serif;
}

.section {
	text-align: center;
}

#branding {
}
	#question {
		font-size: 3em;
		font-weight: normal;
	}

#content {
}
	#content .primary {
	}
		#answer,
		#timer {
			font-size: 5em;
			font-weight: bold;
		}
		#timer {
		}

#credits {
	font-size: 0.75em;
}

